/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}

#outer-box {
  background-color: purple;
  border: 5px solid black;
  margin: 10px;
}

.inner-box {
  background-color: red;
}
